<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="height:745px">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
      <a href="#" class="navbar-brand mb-0 h1">
        <img class="d-inline m-2 align-top" src="https://aula.campusciberseguridad.com/pluginfile.php?file=%2F1%2Ftheme_moove%2Flogo%2F1671714533%2Fciberseguridad%20vertical%20bicolor%281%29.png" width="30" height="30">
      </a>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler m-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active m-2">
            <a href="#" class="nav-link active">
              Home
            </a>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fugas de Información
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="#" class="dropdown-item">Nivel 1</a></li>
                <li><a href="#" class="dropdown-item">Nivel 2</a></li>
                <li><a href="#" class="dropdown-item">Nivel 3</a></li>
                <li><a href="#" class="dropdown-item">Nivel 4</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SQLi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="#" class="dropdown-item">Nivel 1</a></li>
                <li><a href="#" class="dropdown-item">Nivel 2</a></li>
                <li><a href="#" class="dropdown-item">Nivel 3</a></li>
                <li><a href="#" class="dropdown-item">Nivel 4</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              XSS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="#" class="dropdown-item">Nivel 1</a></li>
                <li><a href="#" class="dropdown-item">Nivel 2</a></li>
                <li><a href="#" class="dropdown-item">Nivel 3</a></li>
                <li><a href="#" class="dropdown-item">Nivel 4</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-2">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CSRF
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="#" class="dropdown-item">Nivel 1</a></li>
                <li><a href="#" class="dropdown-item">Nivel 2</a></li>
                <li><a href="#" class="dropdown-item">Nivel 3</a></li>
                <li><a href="#" class="dropdown-item">Nivel 4</a></li>
            </ul>
          </li>
        </ul>
        <!--<form class="d-flex">
          <input type="text" class="form-control me-2">
          <button type="submit" class="btn btn-primary">Search</button>
          </form>
        -->
      </nav>
    </div>
    <div class="container" style="height:670px;">
      <div class="float-child" style="float: left; height:100%; width: 75%; border: 10px solid gray; border-right-width: 5px; margin-top: 1px;  background-color: #f2f2f3">
        <p class="text-center">
          <b>Contexto:</b>
        </p>
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
        <br><br><br><br><br>
        <p class="text-center" style="font-size: 20px; font-weight: bold;">
          Encuentra el flag escondigo en esta página.
        </p>

      </div>
      <div class="float-child" style="float: left; height:50%; width: 25%; border: 10px solid gray; border-left-width: 5px; border-bottom-width: 5px; margin-top: 1px; background-color: #f2f2f3">
        <p class="text-center">
          Aqui va el espacio para responder:
        </p>  
      </div>
      <div class="float-child" style="float: left; height:50%; width: 25%; border: 10px solid gray; border-left-width: 5px; border-top-width: 5px;background-color: #f2f2f3">
        <p class="text-center">
          <img class="d-inline m-2 align-top" src="../static/img/treasure_chest.png" width="60%" height="60%">
        </p>
        <p class="text-center" style="margin: 20px">
          Responde el flag en el campo arriba para obtener tu siguiente llave!
        </p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>